<h2>Add a comment: </h2>

<%= form_with model: [@article, @article.comments.build ] do |f| %>
  <p>
    <%= f.label :commenter %> <br>
    <%= f.text_field :commenter %>
  </p>

  <p>
    <%= f.label :body %> <br>
    <%= f.text_field :body %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.select :status, Comment::VALID_STATUSES, selected: 'public' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

